@import 'rupture'

*,*:before,*:after
	box-sizing border-box

html
	height 100%
	font-size 102% !important
body
	font-size 101% !important
	min-height 100%
	height auto
	position relative
	font-family "Poppins", sans-serif

.upper
	margin-top 1rem !important

.psh
	margin-top 160px !important

h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header,
header a
	font-family 'Montserrat', sans-serif
	text-transform uppercase !important
	color #00b5ad !important

h2.ui.header
	word-break break-all !important
.slider
	display block !important
	position relative !important
	padding-top 8rem !important
	+above(720px)
		padding-top 6rem !important

li.one
	background url("../images/visita.jpg") no-repeat center
	background-size cover

li.two
	background url("../images/cute.jpg") no-repeat center
	background-size cover

li.three
	background url("../images/tipa.jpg") no-repeat center
	background-size cover

li.mv
	background url("../images/malattie-veneree.jpg") no-repeat center
	background-size cover
li.dr
	background url("../images/dermatologia.jpg") no-repeat center
	background-size cover
li.ps
	background url("../images/servizi.jpg") no-repeat center
	background-size cover



.banner {position: relative; overflow: auto; box-shadow:0px 1px 3px 0px rgba(50, 50, 50, 0.55);}
.banner li {list-style: none; height: 67vh}
.banner ul {padding: 0; margin: 0;}
.banner ul li {float: left}

.map{position: relative; overflow: hidden; box-shadow:0px 1px 3px 0px rgba(50, 50, 50, 0.55);height:60vh}

.msg
	position absolute
	bottom 0
	z-index 5

.logo
	margin auto
	max-width 530px
	width 100%
	height 60px
	padding 1rem
	+above(500px)
		height 100px
	img
		height 100%
		width auto
		margin auto

#menu
	flex-direction column
	+above(720px)
		flex-direction row

#bl
	border 0 !important
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-around
	align-items center
	width 100%
	z-index 5000
	a
		padding .5rem 1rem
		transform scale(1)
		transition all .8s ease
	a:hover,
	.active
		color #001122 !important
		background transparent !important
		transform scale(1.1)
		transition all .8s ease


.mild
	margin-left auto !important
	margin-right auto !important
	+above(720px)
		width 75% !important

.js
	text-align justify
footer
	background rgba(210,210,210,.5)

dt .ui.header
		text-transform none !important
		margin .8rem 0 .4rem !important
dd
	margin 0

dt
	font-size 16px !important
	margin 0 !important
